/* .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: .3rem;
    margin: 10rem auto;
  }
  
.h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }
  
.form {
    display: flex;
    flex-direction: column;
  }
  
.label {
    margin-bottom: 10px;
  }
  
.input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
.button[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #F8D43D;
    color: #000;
    cursor: pointer;
  }
  
.button[type="submit"]:hover {
    background-color: #E7BF18;
  }
   */


   .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    margin: 10rem auto;
  }
  
  @media (max-width: 576px) {
    .container {
      margin: 2rem auto;
      padding: 10px;
    }
  }
  
  .mobileContainer {
    display: none;
  }
  
  @media (max-width: 576px) {
    .mobileContainer {
      display: block;
      padding: 10px;
      background-color: #f5f5f5;
      border: 1px solid #ccc;
      border-radius: 0.3rem;
      margin-bottom: 1rem;
    }
  }
  